<div class="container">
    <div class="establishment">
        <div class="establishment-header">
            <div class="establishment-header-img">
                <img class="header-icon" src="../../../../assets/arrow-left.svg" width="20" alt="" (click)="goToEstablishments()">
                <img src="{{ establishment.picture }}" width="76" alt="">
            </div>
            <div class="establishment-header-title">
                <span>{{ establishment.name}}</span>
                <h5>id: {{ establishment.id}}</h5>
            </div>
        </div>
        <div class="establishment-content">
            <div class="label-info">
                <span>Informações básicas</span>
            </div>
        </div>
    </div>
</div>